<table class="table table-bordered">
    <tr>
        <th width="260">Ronde 1</th>
        <th>Ronde 2
            <a class="btn btn-success"
               href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a>
        </th>
        <th>Ronde 3 <a class="btn btn-success"
                       href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a></th>
        <th>Ronde 4 <a class="btn btn-success"
                       href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a></th>
        <th>Ronde 5 <a class="btn btn-success"
                       href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a></th>
        <th>Ronde 6 <a class="btn btn-success"
                       href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a></th>
        <th>Finale <a class="btn btn-success"
                      href="{{ path('makeDuel', {'ronde': 2, 'toernooi': toernooi.id}) }}">+</a></th>
    </tr>
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 1 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 2 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 3 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 4 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 5 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 6 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered knock-out-table">
    {% for row in wedstrijd if row.ronde == 7 %}
        <tr>
            <td width="100" class="cell">{% if row.winnaarID == row.speler1ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler1ID.id }}" class="btn btn-success"
                            onclick="win({{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler1ID }}
            </td>
        </tr>
        <tr>
            <td width="100" class="cell">
                {% if row.winnaarID == row.speler2ID %}
                    <i style="color:gold" class="fas fa-crown"></i>
                {% else %}
                    <button id="{{ row.id }}{{ row.speler2ID.id }}" class="btn btn-success"
                            onclick="win( {{ row.id }},{{ row.speler1ID.id }}, this.id)">
                        Win
                    </button>
                {% endif %}{{ row.speler2ID }}
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    {% endfor %}
</table>
